.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

label {
  padding: 60px;
}

.inputs {
  width: 600px;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.titles{
  width: 400px;
  height: auto;
  margin-left: 120px;
  float: left;
 }

.change{
  display: inline-block;
  width: 400px;
  height: auto;
  margin-left: 100px;
}

.graphs{
 width: 600px;
 height: auto;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}

.slider{
  width: 20px;
  height: 350px;
  margin-left: 120px;
  float: left;
 }

.bar-chart{
  display: inline-block;
  width: 300px;
  height: 350px;
  margin-left: -175px;
}

.choice{
  margin-top: 50px;
}

.StatsHolder{
  width: 700px;
  height: 700px;
  border: 5px;
  border-color: black;
  
}

